<a href="/user/profile" id="user_profile" class="profile-list-item list-group-item active">Profile</a>
<a href="/user/reviews" id="user_reviews" class="profile-list-item list-group-item">Your Reviews</a>
<a href="/user/password" id="user_changepass" class="profile-list-item list-group-item">Change Password</a>
<a href="/user/history" id="user_history" class="profile-list-item list-group-item">Order History</a>
<a href="/user/account" id="user_deleteacc" class="profile-list-item list-group-item">Delete Account</a>