<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Pizza Boss</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="Ömer Atayilmaz" name="author" />
    <meta content="Restaurant Application" name="description" />

    <link href="favicon.ico" rel="icon" type="image/x-icon" />
    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Nunito:600,700"
      rel="stylesheet"
    />
    <!-- CSS Libraries -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link href="/lib/animate/animate.min.css" rel="stylesheet" />
    <link
      href="/lib/owlcarousel/assets/owl.carousel.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css" />

    <link href="/lib/flaticon/font/flaticon.css" rel="stylesheet" />
    <link
      href="/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css"
      rel="stylesheet"
    />

    <!-- Sweet Alert 2  -->
    <link
      href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css"
      rel="stylesheet"
    />
    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet" />
    <!-- OWL  css -->
    <link href="/css/product-carousel.css" rel="stylesheet" />
  </head>
