<!-- Page Header Start -->
<div class="page-header mb-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2><%- headerTitle %></h2>
      </div>
      <div class="col-12">
        <a href="">Home</a>
        <a href=""><%- path %></a>
      </div>
    </div>
  </div>
</div>
<!-- Page Header End -->
