@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap");
:root {
  /*fonts*/
  --font-main: "Poppins", sans-serif;

  /*colors*/
  --topbanner-background-color: #3a372e;
  --topbanner-font-color-1: #eba83a;
  --topbanner-font-color-2: wheat;
  --navbar-active-item-color: #bb381a;
}
* {
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
}
/*top banner*/
.top-banner-container {
  background-color: var(--topbanner-background-color);
  color: var(--topbanner-font-color-1);
  height: 50px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}
.top-banner-left {
  padding-left: 1rem;
  display: flex;
}
.top-banner-left-text-continer {
  display: flex;
  flex-direction: column;
}
.top-banner-left-text {
  font-weight: 600;
}
.top-banner-left span {
  color: var(--topbanner-font-color-2);
  font-size: 0.8rem;
  margin-left: 0.4rem;
}
.top-banner-left i {
  margin-top: 0.6rem;
}
.top-banner-center {
  color: var(--topbanner-font-color);
  font-size: 1.1rem;
  font-weight: 500;
}
.top-banner-right {
  padding: 0.4rem;
  margin-right: 0.8rem;
}

/*Navbar*/
.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 15vh;
}
.navbar-left {
  display: flex;
  flex-direction: row;
  padding-left: 5px;
}
.navbar-logo {
  font-size: 2.1rem;
  width: 40px;
  height: 40px;
  text-align: center;
  font-weight: 900;
  background-color: black;
  color: var(--topbanner-font-color-1);
  border-radius: 2px;
}
.navbar-brand {
  font-size: 2rem;
  font-weight: 600;
  margin-top: -3%;
}
.navbar-right {
  padding-right: 5px;
}
.navbar-menu {
  list-style: none;
  display: flex;
}
.navbar-menu-item {
  margin-right: 0.5rem;
  font-size: 1.1rem;
}
.navbar-menu-item:first-child {
  color: var(--navbar-active-item-color);
}
/*Navbar menu detail*/
.navbar-menu-detail {
  display: flex;
  position: absolute;
  z-index: 999;
  background: white;
  border: 0.16px solid var(--navbar-active-item-color);
  padding: 2rem;
  border-radius: 0.8rem;
}
.navbar-menu-detail-header {
  color: var(--navbar-active-item-color);
}
.navbar-menu-detail-content-4,
.navbar-menu-detail-content-3,
.navbar-menu-detail-content-2,
.navbar-menu-detail-content-1 {
  margin: 20px;
}
.navbar-menu-detail-3,
.navbar-menu-detail-2,
.navbar-menu-detail-1 {
  list-style: none;
}
.navbar-menu-detail-content-4 {
  margin: auto;
}
.navbar-menu-logo {
  font-size: 6rem;
  color: var(--navbar-active-item-color);
}
